{% extends "layout.twig" %}

{% block content %}

<!-- Default Page Content -->
<section class="content">

	<section class="default-page">

		{% include "includes/header.twig" %}

		<!-- Zone Content -->
		<div class="zone-content">

			<div class="container">
				<!-- Main Widget Zone -->
		   		{{zone('main')|raw}}
			</div>

		</div>

		<!-- End Zone Content -->

	   {% include "includes/footer.twig" %}

	</section>

<!-- End Default Page Content -->
</section>

{% endblock %}
