<!-- Footer -->
<footer class="template-footer">

	<div class="container-footer">
        {{widget('profile', 'footer__column1_profile--socialicons', { 'profileType':'socialicons', 'googleplus': 'profile', 'linkedin':'profile', 'facebook': 'profile', 'twitter': 'profile', 'youtube': 'profile', 'rss': 'profile'})|raw}}
        {{widget('profile', 'footer__column2_profile--copyright', {'profileType':'copyright', 'copyright':'profile', 'refreshtime':'1800000'})|raw}}
	</div>

</footer>
<!-- End Footer -->